@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  outline: none;
}

.scroll_style::-webkit-scrollbar {
  display: none;
}

.poster_bg {
  background-image: url(asset/image/BG.png);
}

video[poster] {
  object-fit: cover;
}

@media screen and (min-width: 640px) {
  .poster_bg {
    background-image: url(asset/image/bg_l.png);
  }
  .scroll_style::-webkit-scrollbar {
    height: 6px;
    background: transparent;
    border-radius: 20px;
    margin: 50px;
  }
  .scroll_style::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 20px;
    border: 1px solid red;
    opacity: 0.2;
  }
  .scroll_style::-webkit-scrollbar-thumb:hover {
    opacity: 1;
  }
}

.seek-track {
  -webkit-appearance: none;
  padding: 0;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  opacity: 0;
  transition: ease-in-out;
  animation-duration: 1300ms;
}
.seek-track::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: red;
  -webkit-border-radius: 1000px;
  height: 16px;
  width: 16px;
  border-radius: 1000px;
}

.seek-track:hover {
  opacity: 1;
}

.volume {
  -webkit-appearance: none;
  border-radius: 6px;
  background-color: gray;
  cursor: pointer;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  background-color: green;
}

textarea::-webkit-scrollbar {
  display: none;
}

.rotate {
  rotate: 90deg;
  top: 50%;
  transform: translateX(-12.7%);
}
